:root {
  --orange: #f6824c;
  --blue: #2971f6;
  --yellow: #fef151;
  --pink: #fdacff;
  --green: #7deda3;
  --light-blue: #a3e9ff;
  --peach: #ff7777;
  --black: #000000;
}

body {
  margin: 0;
  background-color: var(--black);
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.App {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.logo-shape {
  background-color: var(--peach);
  clip-path: circle(50% at 50% 50%);
  width: 150px;
  height: 150px;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: -1;
}

.logo {
  color: #000000;
  padding: 5px;
  font-size: 20px;
}

.shape-1 {
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
  background-color: var(--green);
  width: 250px;
  height: 250px;
  position: absolute;
  top: -60px;
  right: -85px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.shape-1 p {
  margin-right: 20px;
}

.shape-2 {
  clip-path: circle(50% at 50% 50%);
  background-color: var(--yellow);
  width: 180px;
  height: 180px;
  position: absolute;
  right: -100px;
  top: 100px;
  color: #000000;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.shape-2 p {
  margin-left: 20px;
}

.btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 150px;
  left: 100px;
  background-color: var(--pink);
  clip-path: polygon(50% 0%, 65% 30%, 98% 35%, 73% 58%, 79% 91%, 50% 74%, 21% 91%, 26% 58%, 2% 35%, 31% 33%);

}

.shape-4 {
  background-color: var(--yellow);
  width: 350px;
  height: 200px;
  position: absolute;
  top: -40px;
  left: -180px;
  clip-path: polygon(52% 18%, 86% 18%, 100% 35%, 96% 65%, 80% 79%, 55% 92%, 20% 90%, 0% 70%, 0% 35%, 20% 25%);
  z-index: -2;
  overflow: hidden;

}

.shape-5 {
  clip-path: polygon(54% 8%, 80% 10%, 96% 26%, 100% 70%, 80% 90%, 51% 96%, 20% 90%, 0% 70%, 9% 39%, 25% 15%);
  background-color: var(--light-blue);
  width: 300px;
  height: 300px;
  color: #000000;
  position: absolute;
  left: -150px;
  bottom: 190px;
  overflow: hidden;

}

.shape-5 p {
  z-index: 1;
  position: absolute;
  bottom: 50%;
  left: 55%;
  z-index: 6;
  font-size: 10px;
  color: #000000;
}

.thing {
  background-color: var(--peach);
  color: #000000;
  width: 800px;
  height: 900px;
  position: absolute;
  bottom: -410px;
  z-index: 3;
  overflow: hidden;
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 96% 65%, 80% 90%, 55% 95%, 20% 90%, 0% 70%, 0% 35%, 18% 15%);
}

.thing span {
  color: #ffffff;
  text-transform: uppercase;
}

.thing .one {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 40%;
  text-transform: lowercase;
}

.thing .two {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 40%;
  text-transform: lowercase;

}

.thing .three {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 40%;
  text-transform: lowercase;

}

.thing .four {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 40%;
  text-transform: lowercase;

}

.thing .five {
  position: absolute;
  top: 60%;
  left: 15%;
  width: 40%;
  text-transform: lowercase;

}

@media only screen and (min-width: 400px) {
  body {
    display: none;
  }
}